# RESULTS AND COMMENTS ON THE GAME MADE BY TESTERS


## Tests results for version v0.2.4

* Last levels are way too difficult (levels 7 - 8)
* Character is just too slippery
* Changes have to be made on the using of colors : colors must have a greater impact on the game
* Changes must be done on controls
* Importance of some features, such as Magnet ? Needs to be more precise. Every feature must be useful and used.
* What about the "Die and Retry" ?